/*
	Cherokee Trading Post main CSS file - styles.css
	Zach Higgins - July 2016
*/

/* reset styles */
html {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	color: #000000;
}
* {
	border: 0;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

body {
	margin: 0 auto;
	background-image: url("images/bg_texture.png");
}
header img {
	max-width: 100%;
	/*padding-bottom: 0.8em;*/
}
nav {
	text-align: center;	
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	color: #FFFF00;
	background-color: #000000;
	margin-top: -0.3em;
}
nav li {
	display: inline-block;
	padding: 0.3em 1em;
}
nav a {
	color: #FFFF00;
}
nav a:visited {
	color: #7F7F00;
}
article {
	margin: 0 auto;
	max-width: 56.7%;
	background-color: #F9EFAE;
}
article h1 {
	text-align: center;
	padding: 0.5em 0;
	font-size: 60px;
	font-weight: bold;
	color: #D80000;
	text-shadow: 1px 1px black;
}
article img {
	display: block;
	margin: 0 auto;
	border: 3px solid black;
	margin-bottom: 2.5em;
}
article p {
	padding: 0 3em;
	font-weight: bold;
}
.catalog img {
	float: left;
	margin: 0 2em;
}
.catalog p {
	padding-top: 4em;
	padding-bottom: 5em;
}